* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 22% 80%;
  grid-template-rows: 15% 85%;
}

.right-toggles img {
  width: 2.5rem;
  border-radius: 50px;
}

.user img {
  width: 3rem;
  border-radius: 50px;
}
.side-bar {
  padding: 20px;
  background-color: #1276c8;
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.side-bar {
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
.logo span {
  font-size: 35px;
  padding: 0;
  margin: 0;
}
.menu-item {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.dash-nav,
.dash-settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 5px;
}
main {
  background-color: #e9eef4;
}

header {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 2fr;
  padding: 10px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
}

.search input {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.269);
  border: none;
  outline: none;
  height: 25px;
  border-radius: 25px;
  padding-left: 10px;
}

.search input:focus {
  border: 1px solid gray;
}
.search span {
  font-size: 20px;
}
.right-toggles {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  font-weight: bold;
  font-weight: 20px;
  padding: 10px;
}
.user {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr 1fr;
  row-gap: 0;
  column-gap: 10px;
  position: relative;
}
.user img {
  grid-area: 1 / 1 / 3 / 2;
  justify-self: center;
  width: 4rem;
  align-self: center;
}
.user span {
  align-self: self-end;
  font-size: 14px;
}

.user h3 {
  align-self: self-start;
  margin-top: 7px;
  font-weight: bold;
}

.btns button {
  background-color: #1276c8;
  border: none;
  width: 5rem;
  height: 2rem;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}
.btns {
  padding-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.btns button:hover {
  background-color: #5098d3;
}
